<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="midcore_llmstxt" xsi:type="array">
                    <item name="class" xsi:type="string">MidCore\LlmsTxt\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">15</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Robots\Model\Robots">
        <plugin name="midcore_llmstxt_robots" type="MidCore\LlmsTxt\Plugin\RobotsPlugin"/>
    </type>
</config>
